.container-header {
  height: 150px;
  width: 100%;
  margin: 0;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
}
.container-header .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container-header .enlace-logo {
  text-decoration: none;
}
.container-header .enlace-logo img {
  margin-right: 20px;
}
.container-header .enlace-logo h1 {
  font: 40px "Permanent Marker", cursive;
  color: whitesmoke;
}
@media only screen and (max-width: 700px) {
  .container-header .enlace-logo h1 {
    font-size: 20px;
  }
}
.container-header .cart {
  width: 50px;
  height: 50px;
}
.container-header .cart:hover {
  transform: scale(1.1);
}
.container-header .icons-cart {
  height: 100%;
  width: 100%;
  color: whitesmoke;
}

.container-main {
  display: grid;
  grid-template-columns: 20% 80%;
  width: 100%;
  gap: 30px;
  padding: 20px;
}
@media only screen and (max-width: 950px) {
  .container-main {
    grid-template-columns: auto;
    justify-items: center;
  }
}
.container-main .tienda-body {
  width: 90%;
  justify-content: center;
}
.container-main .tienda-body .tienda {
  padding: 20px;
  color: white;
  border-radius: 30px;
  background-color: whitesmoke;
  width: 100%;
  height: auto;
}
.container-main .tienda-body .tienda h3 {
  color: #00060C;
}
.container-main .tienda-body .tienda .productos {
  display: grid;
  grid-template-columns: auto auto auto;
}
@media only screen and (max-width: 950px) {
  .container-main .tienda-body .tienda .productos {
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 650px) {
  .container-main .tienda-body .tienda .productos {
    grid-template-columns: auto;
  }
}
.container-main .addCarrito {
  border: 0px;
}
.container-main .addCarrito:hover {
  background-color: greenyellow;
  color: black;
  border: 0px;
}
.container-main .filtrado {
  border-radius: 30px;
  background-color: whitesmoke;
  padding: 20px;
  width: 100%;
  height: 520px;
}
@media only screen and (max-width: 950px) {
  .container-main .filtrado {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 300px;
    width: 90%;
    padding-right: 0px;
  }
}
@media only screen and (max-width: 650px) {
  .container-main .filtrado {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    height: 250px;
    width: 95%;
    padding-right: 20px;
  }
  .container-main .filtrado h4 {
    font-size: medium;
  }
}
.container-main .filtrado .filtro {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.container-main .filtrado .filtro h4 {
  text-align: center;
}
@media only screen and (max-width: 650px) {
  .container-main .filtrado .filtro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0px;
  }
  .container-main .filtrado .filtro .filtroPrecio input {
    width: 80%;
    margin-left: 20px;
  }
  .container-main .filtrado .filtro .filtroPrecio label {
    margin-left: 40px;
  }
}
.container-main .filtrado .funcionesFiltro {
  display: flex;
  flex-direction: row;
}
.container-main .filtrado .funcionesFiltro button {
  width: 120px;
  font-size: small;
  margin: 3px;
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  margin-top: 50px;
}
.container-footer .btn-wpp {
  width: 80px;
  height: 80px;
  padding: 0px 20px 15px 0px;
}

.main-carrito {
  width: 100%;
}

.titleCarrito {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.titleCarrito h2 {
  color: black;
  width: 210px;
  padding: 10px;
  background-color: beige;
  border: solid 0px;
  border-radius: 50px;
}

.carrito {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.carrito tr {
  text-align: center;
}
.carrito td {
  vertical-align: middle;
}
.carrito .inputCantidad {
  display: flex;
  justify-content: center;
  width: 100%;
}
.carrito .inputCantidad input {
  width: 70px;
  text-align: center;
}

.finalizarCompra {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  width: 85%;
}
.finalizarCompra .btn-finalizar {
  font-size: 25px;
}

.btnDelete {
  padding: 0;
  border-radius: 50px;
  background-color: transparent;
  margin-right: 20px;
}
.btnDelete svg {
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1200%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M21.03 396.2L52.21 414.2L52.21 450.2L21.03 468.2L-10.15 450.2L-10.15 414.2zM83.39 180.2L114.56 198.2L114.56 234.2L83.39 252.2L52.21 234.2L52.21 198.2zM83.39 288.2L114.56 306.2L114.56 342.2L83.39 360.2L52.21 342.2L52.21 306.2zM145.74 -35.8L176.92 -17.8L176.92 18.2L145.74 36.2L114.56 18.2L114.56 -17.8zM239.27 234.2L270.45 252.2L270.45 288.2L239.27 306.2L208.1 288.2L208.1 252.2zM208.1 288.2L239.27 306.2L239.27 342.2L208.1 360.2L176.92 342.2L176.92 306.2zM270.45 72.2L301.63 90.2L301.63 126.2L270.45 144.2L239.27 126.2L239.27 90.2zM363.99 18.2L395.16 36.2L395.16 72.2L363.99 90.2L332.81 72.2L332.81 36.2zM332.81 504.2L363.99 522.2L363.99 558.2L332.81 576.2L301.63 558.2L301.63 522.2zM426.34 126.2L457.52 144.2L457.52 180.2L426.34 198.2L395.16 180.2L395.16 144.2zM426.34 234.2L457.52 252.2L457.52 288.2L426.34 306.2L395.16 288.2L395.16 252.2zM457.52 288.2L488.7 306.2L488.7 342.2L457.52 360.2L426.34 342.2L426.34 306.2zM519.87 72.2L551.05 90.2L551.05 126.2L519.87 144.2L488.7 126.2L488.7 90.2zM519.87 180.2L551.05 198.2L551.05 234.2L519.87 252.2L488.7 234.2L488.7 198.2zM644.59 72.2L675.76 90.2L675.76 126.2L644.59 144.2L613.41 126.2L613.41 90.2zM644.59 288.2L675.76 306.2L675.76 342.2L644.59 360.2L613.41 342.2L613.41 306.2zM706.94 72.2L738.12 90.2L738.12 126.2L706.94 144.2L675.76 126.2L675.76 90.2zM738.12 450.2L769.3 468.2L769.3 504.2L738.12 522.2L706.94 504.2L706.94 468.2zM769.3 -35.8L800.48 -17.8L800.48 18.2L769.3 36.2L738.12 18.2L738.12 -17.8zM862.83 234.2L894.01 252.2L894.01 288.2L862.83 306.2L831.65 288.2L831.65 252.2zM956.36 180.2L987.54 198.2L987.54 234.2L956.36 252.2L925.19 234.2L925.19 198.2zM987.54 234.2L1018.72 252.2L1018.72 288.2L987.54 306.2L956.36 288.2L956.36 252.2zM956.36 288.2L987.54 306.2L987.54 342.2L956.36 360.2L925.19 342.2L925.19 306.2zM1174.61 18.2L1205.79 36.2L1205.79 72.2L1174.61 90.2L1143.43 72.2L1143.43 36.2zM1174.61 342.2L1205.79 360.2L1205.79 396.2L1174.61 414.2L1143.43 396.2L1143.43 360.2zM1143.43 504.2L1174.61 522.2L1174.61 558.2L1143.43 576.2L1112.25 558.2L1112.25 522.2zM1205.79 72.2L1236.96 90.2L1236.96 126.2L1205.79 144.2L1174.61 126.2L1174.61 90.2zM1268.14 180.2L1299.32 198.2L1299.32 234.2L1268.14 252.2L1236.96 234.2L1236.96 198.2zM1299.32 342.2L1330.5 360.2L1330.5 396.2L1299.32 414.2L1268.14 396.2L1268.14 360.2zM1361.68 18.2L1392.85 36.2L1392.85 72.2L1361.68 90.2L1330.5 72.2L1330.5 36.2zM1330.5 396.2L1361.68 414.2L1361.68 450.2L1330.5 468.2L1299.32 450.2L1299.32 414.2zM1392.85 504.2L1424.03 522.2L1424.03 558.2L1392.85 576.2L1361.68 558.2L1361.68 522.2zM1455.21 180.2L1486.39 198.2L1486.39 234.2L1455.21 252.2L1424.03 234.2L1424.03 198.2z' stroke='rgba(239%2c 240%2c 241%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M17.43 396.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM48.61 414.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM48.61 450.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM17.43 468.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM-13.75 450.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM-13.75 414.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM79.79 180.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM110.96 198.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM110.96 234.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM79.79 252.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM48.61 234.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM48.61 198.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM79.79 288.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM110.96 306.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM110.96 342.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM79.79 360.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM48.61 342.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM48.61 306.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM142.14 -35.8 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM173.32 -17.8 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM173.32 18.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM142.14 36.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM110.96 18.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM110.96 -17.8 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM235.67 234.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM266.85 252.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM266.85 288.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM235.67 306.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM204.5 288.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM204.5 252.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM235.67 342.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM204.5 360.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM173.32 342.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM173.32 306.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM266.85 72.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM298.03 90.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM298.03 126.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM266.85 144.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM235.67 126.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM235.67 90.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM360.39 18.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM391.56 36.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM391.56 72.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM360.39 90.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM329.21 72.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM329.21 36.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM329.21 504.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM360.39 522.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM360.39 558.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM329.21 576.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM298.03 558.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM298.03 522.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM422.74 126.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM453.92 144.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM453.92 180.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM422.74 198.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM391.56 180.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM391.56 144.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM422.74 234.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM453.92 252.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM453.92 288.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM422.74 306.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM391.56 288.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM391.56 252.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM485.1 306.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM485.1 342.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM453.92 360.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM422.74 342.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM516.27 72.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM547.45 90.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM547.45 126.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM516.27 144.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM485.1 126.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM485.1 90.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM516.27 180.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM547.45 198.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM547.45 234.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM516.27 252.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM485.1 234.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM485.1 198.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM640.99 72.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM672.16 90.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM672.16 126.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM640.99 144.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM609.81 126.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM609.81 90.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM640.99 288.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM672.16 306.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM672.16 342.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM640.99 360.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM609.81 342.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM609.81 306.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM703.34 72.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM734.52 90.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM734.52 126.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM703.34 144.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM734.52 450.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM765.7 468.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM765.7 504.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM734.52 522.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM703.34 504.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM703.34 468.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM765.7 -35.8 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM796.88 -17.8 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM796.88 18.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM765.7 36.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM734.52 18.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM734.52 -17.8 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM859.23 234.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM890.41 252.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM890.41 288.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM859.23 306.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM828.05 288.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM828.05 252.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM952.76 180.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM983.94 198.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM983.94 234.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM952.76 252.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM921.59 234.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM921.59 198.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1015.12 252.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1015.12 288.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM983.94 306.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM952.76 288.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM983.94 342.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM952.76 360.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM921.59 342.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM921.59 306.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1171.01 18.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1202.19 36.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1202.19 72.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1171.01 90.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1139.83 72.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1139.83 36.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1171.01 342.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1202.19 360.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1202.19 396.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1171.01 414.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1139.83 396.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1139.83 360.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1139.83 504.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1171.01 522.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1171.01 558.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1139.83 576.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1108.65 558.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1108.65 522.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1233.36 90.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1233.36 126.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1202.19 144.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1171.01 126.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1264.54 180.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1295.72 198.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1295.72 234.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1264.54 252.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1233.36 234.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1233.36 198.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1295.72 342.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1326.9 360.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1326.9 396.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1295.72 414.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1264.54 396.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1264.54 360.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1358.08 18.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1389.25 36.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1389.25 72.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1358.08 90.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1326.9 72.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1326.9 36.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1358.08 414.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1358.08 450.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1326.9 468.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1295.72 450.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1389.25 504.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1420.43 522.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1420.43 558.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1389.25 576.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1358.08 558.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1358.08 522.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1451.61 180.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1482.79 198.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1482.79 234.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1451.61 252.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1420.43 234.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0zM1420.43 198.2 a3.6 3.6 0 1 0 7.2 0 a3.6 3.6 0 1 0 -7.2 0z' fill='rgba(239%2c 240%2c 241%2c 1)'%3e%3c/path%3e%3cpath d='M24.65 -50.41L79.21 -18.91L79.21 44.09L24.65 75.59L-29.91 44.09L-29.91 -18.91zM79.21 233.09L133.77 264.59L133.77 327.59L79.21 359.09L24.65 327.59L24.65 264.59zM24.65 327.59L79.21 359.09L79.21 422.09L24.65 453.59L-29.91 422.09L-29.91 359.09zM133.77 -50.41L188.33 -18.91L188.33 44.09L133.77 75.59L79.21 44.09L79.21 -18.91zM188.33 44.09L242.89 75.59L242.89 138.59L188.33 170.09L133.77 138.59L133.77 75.59zM188.33 422.09L242.89 453.59L242.89 516.59L188.33 548.09L133.77 516.59L133.77 453.59zM242.89 -50.41L297.46 -18.91L297.46 44.09L242.89 75.59L188.33 44.09L188.33 -18.91zM297.46 233.09L352.02 264.59L352.02 327.59L297.46 359.09L242.89 327.59L242.89 264.59zM242.89 327.59L297.46 359.09L297.46 422.09L242.89 453.59L188.33 422.09L188.33 359.09zM242.89 516.59L297.46 548.09L297.46 611.09L242.89 642.59L188.33 611.09L188.33 548.09zM352.02 -50.41L406.58 -18.91L406.58 44.09L352.02 75.59L297.46 44.09L297.46 -18.91zM406.58 233.09L461.14 264.59L461.14 327.59L406.58 359.09L352.02 327.59L352.02 264.59zM461.14 -50.41L515.7 -18.91L515.7 44.09L461.14 75.59L406.58 44.09L406.58 -18.91zM515.7 233.09L570.26 264.59L570.26 327.59L515.7 359.09L461.14 327.59L461.14 264.59zM515.7 422.09L570.26 453.59L570.26 516.59L515.7 548.09L461.14 516.59L461.14 453.59zM461.14 516.59L515.7 548.09L515.7 611.09L461.14 642.59L406.58 611.09L406.58 548.09zM570.26 -50.41L624.82 -18.91L624.82 44.09L570.26 75.59L515.7 44.09L515.7 -18.91zM624.82 233.09L679.38 264.59L679.38 327.59L624.82 359.09L570.26 327.59L570.26 264.59zM570.26 327.59L624.82 359.09L624.82 422.09L570.26 453.59L515.7 422.09L515.7 359.09zM624.82 422.09L679.38 453.59L679.38 516.59L624.82 548.09L570.26 516.59L570.26 453.59zM733.94 233.09L788.51 264.59L788.51 327.59L733.94 359.09L679.38 327.59L679.38 264.59zM679.38 327.59L733.94 359.09L733.94 422.09L679.38 453.59L624.82 422.09L624.82 359.09zM788.51 -50.41L843.07 -18.91L843.07 44.09L788.51 75.59L733.94 44.09L733.94 -18.91zM788.51 327.59L843.07 359.09L843.07 422.09L788.51 453.59L733.94 422.09L733.94 359.09zM788.51 516.59L843.07 548.09L843.07 611.09L788.51 642.59L733.94 611.09L733.94 548.09zM897.63 -50.41L952.19 -18.91L952.19 44.09L897.63 75.59L843.07 44.09L843.07 -18.91zM897.63 327.59L952.19 359.09L952.19 422.09L897.63 453.59L843.07 422.09L843.07 359.09zM952.19 422.09L1006.75 453.59L1006.75 516.59L952.19 548.09L897.63 516.59L897.63 453.59zM1006.75 -50.41L1061.31 -18.91L1061.31 44.09L1006.75 75.59L952.19 44.09L952.19 -18.91zM1006.75 327.59L1061.31 359.09L1061.31 422.09L1006.75 453.59L952.19 422.09L952.19 359.09zM1061.31 422.09L1115.87 453.59L1115.87 516.59L1061.31 548.09L1006.75 516.59L1006.75 453.59zM1170.43 233.09L1225 264.59L1225 327.59L1170.43 359.09L1115.87 327.59L1115.87 264.59zM1115.87 327.59L1170.43 359.09L1170.43 422.09L1115.87 453.59L1061.31 422.09L1061.31 359.09zM1170.43 422.09L1225 453.59L1225 516.59L1170.43 548.09L1115.87 516.59L1115.87 453.59zM1225 327.59L1279.56 359.09L1279.56 422.09L1225 453.59L1170.43 422.09L1170.43 359.09zM1279.56 422.09L1334.12 453.59L1334.12 516.59L1279.56 548.09L1225 516.59L1225 453.59zM1225 516.59L1279.56 548.09L1279.56 611.09L1225 642.59L1170.43 611.09L1170.43 548.09zM1388.68 44.09L1443.24 75.59L1443.24 138.59L1388.68 170.09L1334.12 138.59L1334.12 75.59zM1334.12 327.59L1388.68 359.09L1388.68 422.09L1334.12 453.59L1279.56 422.09L1279.56 359.09zM1388.68 422.09L1443.24 453.59L1443.24 516.59L1388.68 548.09L1334.12 516.59L1334.12 453.59zM1497.8 44.09L1552.36 75.59L1552.36 138.59L1497.8 170.09L1443.24 138.59L1443.24 75.59zM1443.24 138.59L1497.8 170.09L1497.8 233.09L1443.24 264.59L1388.68 233.09L1388.68 170.09zM1497.8 422.09L1552.36 453.59L1552.36 516.59L1497.8 548.09L1443.24 516.59L1443.24 453.59zM1443.24 516.59L1497.8 548.09L1497.8 611.09L1443.24 642.59L1388.68 611.09L1388.68 548.09z' stroke='rgba(0%2c 0%2c 0%2c 0)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1200'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

/*# sourceMappingURL=style.css.map */
