.container-header {
  height: 150px;
  width: 100%;
  margin: 0;
  background-color: #00060C;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
}
.container-header .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container-header .enlace-logo {
  text-decoration: none;
}
.container-header .enlace-logo img {
  margin-right: 20px;
}
.container-header .enlace-logo h1 {
  font: 40px "Permanent Marker", cursive;
  color: whitesmoke;
}
@media only screen and (max-width: 700px) {
  .container-header .enlace-logo h1 {
    font-size: 20px;
  }
}
.container-header .cart {
  width: 50px;
  height: 50px;
}
.container-header .cart:hover {
  transform: scale(1.1);
}
.container-header .icons-cart {
  height: 100%;
  width: 100%;
  color: whitesmoke;
}

.container-main {
  display: grid;
  grid-template-columns: 15% 85%;
  width: 100%;
  gap: 30px;
  padding: 20px;
}
@media only screen and (max-width: 950px) {
  .container-main {
    grid-template-columns: auto;
    justify-items: center;
  }
}
.container-main .tienda-body {
  width: 90%;
  justify-content: center;
}
.container-main .tienda-body .tienda {
  padding: 20px;
  color: white;
  border-radius: 30px;
  background-color: whitesmoke;
  width: 100%;
  height: auto;
}
.container-main .tienda-body .tienda h3 {
  color: #00060C;
}
.container-main .tienda-body .tienda .productos {
  display: grid;
  grid-template-columns: auto auto auto;
}
@media only screen and (max-width: 950px) {
  .container-main .tienda-body .tienda .productos {
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 650px) {
  .container-main .tienda-body .tienda .productos {
    grid-template-columns: auto;
  }
}
.container-main .filtrado {
  border-radius: 30px;
  background-color: whitesmoke;
  padding: 20px;
  width: 90%;
  height: 350px;
}
@media only screen and (max-width: 950px) {
  .container-main .filtrado {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 180px;
    width: 90%;
  }
}
@media only screen and (max-width: 650px) {
  .container-main .filtrado {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    height: 200px;
    width: 90%;
  }
}
.container-main .filtrado .filtro {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.container-main .filtrado .filtro h4 {
  text-align: center;
}
@media only screen and (max-width: 650px) {
  .container-main .filtrado .filtro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
}
.container-footer .btn-wpp {
  width: 80px;
  height: 80px;
  padding: 0px 20px 15px 0px;
}

.main-carrito {
  width: 100%;
  height: 100vh;
}

.carrito {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.carrito h4 {
  color: whitesmoke;
}
.carrito tr {
  text-align: center;
}

.finalizarCompra {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  width: 85%;
}
.finalizarCompra .btn-finalizar {
  font-size: 25px;
}

.btnDelete {
  padding: 0;
  border-radius: 50px;
  background-color: transparent;
  margin-right: 20px;
}
.btnDelete svg {
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 6%2c 12%2c 1)'%3e%3c/rect%3e%3cpath d='M12.36 -49.62L77.31 -12.12L77.31 62.88L12.36 100.38L-52.59 62.88L-52.59 -12.12zM12.36 175.38L77.31 212.88L77.31 287.88L12.36 325.38L-52.59 287.88L-52.59 212.88zM77.31 512.88L142.27 550.38L142.27 625.38L77.31 662.88L12.36 625.38L12.36 550.38zM207.22 62.88L272.18 100.38L272.18 175.38L207.22 212.88L142.27 175.38L142.27 100.38zM142.27 175.38L207.22 212.88L207.22 287.88L142.27 325.38L77.31 287.88L77.31 212.88zM207.22 287.88L272.18 325.38L272.18 400.38L207.22 437.88L142.27 400.38L142.27 325.38zM142.27 400.38L207.22 437.88L207.22 512.88L142.27 550.38L77.31 512.88L77.31 437.88zM272.18 -49.62L337.13 -12.12L337.13 62.88L272.18 100.38L207.22 62.88L207.22 -12.12zM337.13 62.88L402.08 100.38L402.08 175.38L337.13 212.88L272.18 175.38L272.18 100.38zM272.18 400.38L337.13 437.88L337.13 512.88L272.18 550.38L207.22 512.88L207.22 437.88zM337.13 512.88L402.08 550.38L402.08 625.38L337.13 662.88L272.18 625.38L272.18 550.38zM402.08 -49.62L467.04 -12.12L467.04 62.88L402.08 100.38L337.13 62.88L337.13 -12.12zM467.04 62.88L531.99 100.38L531.99 175.38L467.04 212.88L402.08 175.38L402.08 100.38zM402.08 175.38L467.04 212.88L467.04 287.88L402.08 325.38L337.13 287.88L337.13 212.88zM596.94 62.88L661.9 100.38L661.9 175.38L596.94 212.88L531.99 175.38L531.99 100.38zM596.94 287.88L661.9 325.38L661.9 400.38L596.94 437.88L531.99 400.38L531.99 325.38zM596.94 512.88L661.9 550.38L661.9 625.38L596.94 662.88L531.99 625.38L531.99 550.38zM661.9 -49.62L726.85 -12.12L726.85 62.88L661.9 100.38L596.94 62.88L596.94 -12.12zM856.76 62.88L921.71 100.38L921.71 175.38L856.76 212.88L791.8 175.38L791.8 100.38zM791.8 175.38L856.76 212.88L856.76 287.88L791.8 325.38L726.85 287.88L726.85 212.88zM921.71 -49.62L986.67 -12.12L986.67 62.88L921.71 100.38L856.76 62.88L856.76 -12.12zM921.71 175.38L986.67 212.88L986.67 287.88L921.71 325.38L856.76 287.88L856.76 212.88zM986.67 512.88L1051.62 550.38L1051.62 625.38L986.67 662.88L921.71 625.38L921.71 550.38zM1051.62 175.38L1116.57 212.88L1116.57 287.88L1051.62 325.38L986.67 287.88L986.67 212.88zM1181.53 -49.62L1246.48 -12.12L1246.48 62.88L1181.53 100.38L1116.57 62.88L1116.57 -12.12zM1246.48 62.88L1311.43 100.38L1311.43 175.38L1246.48 212.88L1181.53 175.38L1181.53 100.38zM1246.48 287.88L1311.43 325.38L1311.43 400.38L1246.48 437.88L1181.53 400.38L1181.53 325.38zM1246.48 512.88L1311.43 550.38L1311.43 625.38L1246.48 662.88L1181.53 625.38L1181.53 550.38zM1311.43 -49.62L1376.39 -12.12L1376.39 62.88L1311.43 100.38L1246.48 62.88L1246.48 -12.12zM1376.39 62.88L1441.34 100.38L1441.34 175.38L1376.39 212.88L1311.43 175.38L1311.43 100.38zM1311.43 175.38L1376.39 212.88L1376.39 287.88L1311.43 325.38L1246.48 287.88L1246.48 212.88zM1311.43 400.38L1376.39 437.88L1376.39 512.88L1311.43 550.38L1246.48 512.88L1246.48 437.88zM1506.3 287.88L1571.25 325.38L1571.25 400.38L1506.3 437.88L1441.34 400.38L1441.34 325.38z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M4.86 -49.62 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM69.81 -12.12 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM69.81 62.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM4.86 100.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-60.09 62.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-60.09 -12.12 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM4.86 175.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM69.81 212.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM69.81 287.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM4.86 325.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-60.09 287.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-60.09 212.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM69.81 512.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM134.77 550.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM134.77 625.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM69.81 662.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM4.86 625.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM4.86 550.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM199.72 62.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM264.68 100.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM264.68 175.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM199.72 212.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM134.77 175.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM134.77 100.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM199.72 287.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM134.77 325.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM264.68 325.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM264.68 400.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM199.72 437.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM134.77 400.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM199.72 512.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM69.81 437.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM264.68 -49.62 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM329.63 -12.12 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM329.63 62.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM199.72 -12.12 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM394.58 100.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM394.58 175.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM329.63 212.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM329.63 437.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM329.63 512.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM264.68 550.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM394.58 550.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM394.58 625.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM329.63 662.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM264.68 625.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM394.58 -49.62 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM459.54 -12.12 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM459.54 62.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM524.49 100.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM524.49 175.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM459.54 212.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM459.54 287.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM394.58 325.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM329.63 287.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM589.44 62.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM654.4 100.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM654.4 175.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM589.44 212.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM589.44 287.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM654.4 325.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM654.4 400.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM589.44 437.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM524.49 400.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM524.49 325.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM589.44 512.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM654.4 550.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM654.4 625.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM589.44 662.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM524.49 625.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM524.49 550.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM654.4 -49.62 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM719.35 -12.12 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM719.35 62.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM589.44 -12.12 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM849.26 62.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM914.21 100.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM914.21 175.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM849.26 212.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM784.3 175.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM784.3 100.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM849.26 287.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM784.3 325.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM719.35 287.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM719.35 212.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM914.21 -49.62 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM979.17 -12.12 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM979.17 62.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM849.26 -12.12 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM979.17 212.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM979.17 287.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM914.21 325.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM979.17 512.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1044.12 550.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1044.12 625.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM979.17 662.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM914.21 625.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM914.21 550.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1044.12 175.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1109.07 212.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1109.07 287.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1044.12 325.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1174.03 -49.62 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1238.98 -12.12 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1238.98 62.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1174.03 100.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1109.07 62.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1109.07 -12.12 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1303.93 100.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1303.93 175.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1238.98 212.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1174.03 175.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1238.98 287.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1303.93 325.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1303.93 400.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1238.98 437.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1174.03 400.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1174.03 325.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1238.98 512.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1303.93 550.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1303.93 625.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1238.98 662.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1174.03 625.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1174.03 550.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1303.93 -49.62 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1368.89 -12.12 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1368.89 62.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1433.84 100.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1433.84 175.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1368.89 212.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1368.89 287.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1368.89 437.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1368.89 512.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1498.8 287.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1563.75 325.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1563.75 400.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1498.8 437.88 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1433.84 400.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1433.84 325.38 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M56.9 218.85L100.2 243.85L100.2 293.85L56.9 318.85L13.6 293.85L13.6 243.85zM13.6 293.85L56.9 318.85L56.9 368.85L13.6 393.85L-29.7 368.85L-29.7 318.85zM56.9 518.85L100.2 543.85L100.2 593.85L56.9 618.85L13.6 593.85L13.6 543.85zM143.51 218.85L186.81 243.85L186.81 293.85L143.51 318.85L100.2 293.85L100.2 243.85zM100.2 293.85L143.51 318.85L143.51 368.85L100.2 393.85L56.9 368.85L56.9 318.85zM186.81 143.85L230.11 168.85L230.11 218.85L186.81 243.85L143.51 218.85L143.51 168.85zM186.81 443.85L230.11 468.85L230.11 518.85L186.81 543.85L143.51 518.85L143.51 468.85zM273.42 -6.15L316.72 18.85L316.72 68.85L273.42 93.85L230.11 68.85L230.11 18.85zM316.72 68.85L360.02 93.85L360.02 143.85L316.72 168.85L273.42 143.85L273.42 93.85zM273.42 143.85L316.72 168.85L316.72 218.85L273.42 243.85L230.11 218.85L230.11 168.85zM273.42 293.85L316.72 318.85L316.72 368.85L273.42 393.85L230.11 368.85L230.11 318.85zM316.72 518.85L360.02 543.85L360.02 593.85L316.72 618.85L273.42 593.85L273.42 543.85zM360.02 -6.15L403.32 18.85L403.32 68.85L360.02 93.85L316.72 68.85L316.72 18.85zM403.32 68.85L446.63 93.85L446.63 143.85L403.32 168.85L360.02 143.85L360.02 93.85zM360.02 143.85L403.32 168.85L403.32 218.85L360.02 243.85L316.72 218.85L316.72 168.85zM403.32 368.85L446.63 393.85L446.63 443.85L403.32 468.85L360.02 443.85L360.02 393.85zM403.32 518.85L446.63 543.85L446.63 593.85L403.32 618.85L360.02 593.85L360.02 543.85zM446.63 -6.15L489.93 18.85L489.93 68.85L446.63 93.85L403.32 68.85L403.32 18.85zM489.93 68.85L533.23 93.85L533.23 143.85L489.93 168.85L446.63 143.85L446.63 93.85zM446.63 143.85L489.93 168.85L489.93 218.85L446.63 243.85L403.32 218.85L403.32 168.85zM489.93 218.85L533.23 243.85L533.23 293.85L489.93 318.85L446.63 293.85L446.63 243.85zM446.63 293.85L489.93 318.85L489.93 368.85L446.63 393.85L403.32 368.85L403.32 318.85zM489.93 368.85L533.23 393.85L533.23 443.85L489.93 468.85L446.63 443.85L446.63 393.85zM533.23 -6.15L576.53 18.85L576.53 68.85L533.23 93.85L489.93 68.85L489.93 18.85zM533.23 143.85L576.53 168.85L576.53 218.85L533.23 243.85L489.93 218.85L489.93 168.85zM533.23 293.85L576.53 318.85L576.53 368.85L533.23 393.85L489.93 368.85L489.93 318.85zM576.53 368.85L619.84 393.85L619.84 443.85L576.53 468.85L533.23 443.85L533.23 393.85zM619.84 -6.15L663.14 18.85L663.14 68.85L619.84 93.85L576.53 68.85L576.53 18.85zM663.14 68.85L706.44 93.85L706.44 143.85L663.14 168.85L619.84 143.85L619.84 93.85zM663.14 218.85L706.44 243.85L706.44 293.85L663.14 318.85L619.84 293.85L619.84 243.85zM619.84 443.85L663.14 468.85L663.14 518.85L619.84 543.85L576.53 518.85L576.53 468.85zM706.44 -6.15L749.74 18.85L749.74 68.85L706.44 93.85L663.14 68.85L663.14 18.85zM749.74 68.85L793.05 93.85L793.05 143.85L749.74 168.85L706.44 143.85L706.44 93.85zM749.74 218.85L793.05 243.85L793.05 293.85L749.74 318.85L706.44 293.85L706.44 243.85zM793.05 293.85L836.35 318.85L836.35 368.85L793.05 393.85L749.74 368.85L749.74 318.85zM836.35 368.85L879.65 393.85L879.65 443.85L836.35 468.85L793.05 443.85L793.05 393.85zM879.65 -6.15L922.95 18.85L922.95 68.85L879.65 93.85L836.35 68.85L836.35 18.85zM879.65 293.85L922.95 318.85L922.95 368.85L879.65 393.85L836.35 368.85L836.35 318.85zM922.95 368.85L966.26 393.85L966.26 443.85L922.95 468.85L879.65 443.85L879.65 393.85zM966.26 293.85L1009.56 318.85L1009.56 368.85L966.26 393.85L922.95 368.85L922.95 318.85zM966.26 443.85L1009.56 468.85L1009.56 518.85L966.26 543.85L922.95 518.85L922.95 468.85zM1052.86 -6.15L1096.16 18.85L1096.16 68.85L1052.86 93.85L1009.56 68.85L1009.56 18.85zM1096.16 68.85L1139.46 93.85L1139.46 143.85L1096.16 168.85L1052.86 143.85L1052.86 93.85zM1052.86 443.85L1096.16 468.85L1096.16 518.85L1052.86 543.85L1009.56 518.85L1009.56 468.85zM1139.46 143.85L1182.77 168.85L1182.77 218.85L1139.46 243.85L1096.16 218.85L1096.16 168.85zM1226.07 -6.15L1269.37 18.85L1269.37 68.85L1226.07 93.85L1182.77 68.85L1182.77 18.85zM1269.37 218.85L1312.67 243.85L1312.67 293.85L1269.37 318.85L1226.07 293.85L1226.07 243.85zM1226.07 293.85L1269.37 318.85L1269.37 368.85L1226.07 393.85L1182.77 368.85L1182.77 318.85zM1269.37 368.85L1312.67 393.85L1312.67 443.85L1269.37 468.85L1226.07 443.85L1226.07 393.85zM1312.67 -6.15L1355.98 18.85L1355.98 68.85L1312.67 93.85L1269.37 68.85L1269.37 18.85zM1355.98 68.85L1399.28 93.85L1399.28 143.85L1355.98 168.85L1312.67 143.85L1312.67 93.85zM1355.98 218.85L1399.28 243.85L1399.28 293.85L1355.98 318.85L1312.67 293.85L1312.67 243.85zM1355.98 518.85L1399.28 543.85L1399.28 593.85L1355.98 618.85L1312.67 593.85L1312.67 543.85zM1399.28 443.85L1442.58 468.85L1442.58 518.85L1399.28 543.85L1355.98 518.85L1355.98 468.85z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

/*# sourceMappingURL=style.css.map */
