.main-carrito{
    width: 100%;
}

.titleCarrito{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    h2{
        color: black;
        width: 210px;
        padding: 10px;
        background-color: beige;
        border: solid 0px;
        border-radius: 50px;
    }
}

.carrito{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    tr{
        text-align: center;
    }
    td {
        vertical-align: middle;
    }
    .inputCantidad{
        display: flex;
        justify-content: center;
        width: 100%;
        
        input{
            width: 70px;
            text-align: center;
    }
    }
    @media only screen and (max-width:650px){
        thead {
            font-size: 10px;}
        tbody {
            font-size: 10px;
            img {
                display: none;
            }
        }
    }   
}

.finalizarCompra{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: 'vaciar finalizar vacio';
    width: 85%;
    .btn-finalizar{
        font-size: 25px;
        grid-area: finalizar;
        justify-self: center;
    }
    .btn-vaciar {
        font-size: 15px;
        grid-area: vaciar;
        justify-self: start;
    }
    @media only screen and (max-width:650px) {
        .btn-finalizar{
            font-size: 15px;
        }
        .btn-vaciar {
            font-size: 10px;
        }
    }
}

.checkBody{
    display: flex;
    width: auto;
    justify-content: center;
}

.btnDelete{
    padding: 0;
    border-radius: 50px;
    background-color: transparent;
    margin-right: 20px;
    svg{
        color: white;
    }
}