.main-carrito{
    width: 100%;
}

.carrito{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    h4{
        color: whitesmoke;
    }
    tr{
        text-align: center;
    }
    td {
        vertical-align: middle;
    }
}

.finalizarCompra{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    width: 85%;
    .btn-finalizar{
        font-size: 25px;
    }
}

.btnDelete{
    padding: 0;
    border-radius: 50px;
    background-color: transparent;
    margin-right: 20px;
    svg{
        color: white;
    }
}