.main-carrito{
    width: 100%;
    height: 100vh;
}

.carrito{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    h4{
        color: whitesmoke;
    }
}

.finalizarCompra{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 85%;
    .btn-finalizar{
        font-size: 25px;
    }
}