$color-principal: #00060C;

//header
.container-header{
    height: 150px;
    width: 100%;
    margin: 0;
    background-color:rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
    .logo{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    }
    .enlace-logo{
        text-decoration: none;
    img{
        margin-right: 20px;
    }
    h1{
        font: 40px 'Permanent Marker', cursive;
        color: whitesmoke;
        @media only screen and (max-width:700px){
            font-size: 20px;
        }
    }
    }   
    .cart{
        width: 50px;
        height: 50px;
        position: relative;
        display: inline-block;
        &:hover{
            transform: scale(1.1);
        }
        }
        .icons-cart{
            height: 100%;
            width: 100%;
            color: whitesmoke;
        }
    a{
        text-decoration: none;
        .contador-carrito{
            position: absolute;
            top: -20px;
            right: -8px;
            width: 26px;
            height: 26px;
            color: $color-principal;
            border-radius: 50%;
            background-color: greenyellow;
            padding-left: 9px;
            padding-top: 1px;
            font-size: medium;
            display: none;
        }
    }
}

.container-main{
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
    gap: 30px;
    padding: 20px;
    @media only screen and (max-width:950px){
        grid-template-columns: auto;
        justify-items: center;
    }

    //catalogo de productos
    
    .tienda-body{
        width: 90%;
        justify-content: center;
        .tienda{
            padding: 20px;
            color: $color-principal;
            border-radius: 30px;
            background-color: whitesmoke;
            width: 100%;
            height: auto;
            h3{
                color: $color-principal;
            }
            .productos{
                display: grid;
                grid-template-columns: auto auto auto;
                @media only screen and (max-width:950px){
                    grid-template-columns: auto auto;
                }
                @media only screen and (max-width:650px){
                    grid-template-columns: auto;
                }
            }
        }
    }
    .addCarrito {
        border: 0px;
        &:hover{
            background-color: greenyellow;
            color: black;
            border: 0px;
        }
    }

    //filtrado
    .filtrado{
        border-radius: 30px;
        background-color: whitesmoke;
        padding: 20px;
        width: 100%;
        height: 400px;
        @media only screen and (max-width:950px){
            display: grid;
            grid-template-areas: 'tipo marca'
                                'precio botones';
            height: 300px;
            width: 90%;
            .funcionesFiltro{
                margin-top: 80px;
                height: 40px;
            }
        }
        @media only screen and (max-width:650px){
            display: grid;
            grid-template-areas: 'tipo'
                                'marca'
                                'precio'
                                'botones';
            height: 300px;
            width: 95%;
            h4{
                font-size: medium;
            }
            .funcionesFiltro{
                margin-top: 0px;
                height: 40px;

            }
        }
        .filtro{
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            align-items: center;
            h4{
                text-align: center;
            }
            select {
                width: 73%;
            }
            @media only screen and (max-width:650px){
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-left: 0px;
                h4{
                    margin-top: 5px;
                }
            .filtroPrecio {
                input{
                    width: 80%;
                    margin-left: 20px;
                    border: solid 1px;
                }
                label{
                    margin-left: 50px;
                }
            }
            }
            
        }
        .funcionesFiltro{
            display: flex;
            flex-direction: row;
            justify-self: center;
            button{
                width: 120px;
                font-size: small;
                margin: 3px;
            }
        }
    }
}

//footer
.container-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    margin-top: 50px;
    .btn-wpp{
        width: 80px;
        height: 80px;
        padding: 0px 20px 15px 0px;
    }
}
